body {
  font-family: "Playfair Display", serif;
  padding: 200px 150px;
  background: linear-gradient(to top, #34ace0 20%, #f7f1e3 100%);
}

h1 {
  color: #227093;
  font-size: 40px;
  margin: 0;
  line-height: 50px;
}

footer {
  font-size: 15px;
  text-align: center;
  color: #227093;
}

.container {
  max-width: 1200px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 150px;
}

.app-container {
  max-width: 950px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  border-radius: 30px;
  background: linear-gradient(to top, #34ace0 20%, #f7f1e3 100%);
  padding: 10px 15px;
  margin-left: 110px;
}

.city-link {
  color: #34ace0;
  display: inline;
  margin: 0 10px;
  font-size: 20px;
  transition: all 150ms ease-in-out;
}

.city-link:hover {
  color: #227093;
  text-decoration: underline;
  cursor: pointer;
}

.city-option {
  list-style: none;
  padding: 0;
}

.search-input {
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
}

.search-btn,
.location-btn,
.search-btn:hover {
  display: inline-block;
  margin: 0;
  background: #34ace0;
  border: 1px solid transparent;
  transition: all 150ms ease-in-out;
}

.search-btn:hover,
.location-btn:hover {
  cursor: pointer;
}

.location-btn,
.location-btn:hover {
  background: #227093;
}

.weather {
  padding: 30px 25px;
}

.current-city {
  text-align: center;
  margin: 40px 0;
}

.current-info {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  color: #227093;
  opacity: 0.4;
}

.units {
  position: relative;
  top: -20px;
  font-size: 15px;
  color: #227093;
}

.days-forecast {
  padding-left: 55px;
}

.real-conditions {
  list-style: none;
  margin-top: 115px;
  padding: 0;
}

.expected-day,
.expected-temp {
  text-align: center;
  font-size: 20x;
  line-height: 15px;
  color: #227093;
  opacity: 0.6;
}

.expected-temp-emoji {
  display: block;
  margin: auto;
  width: 70px;
}

.day {
  border-radius: 8px;
  margin: 5px;
  padding: 10px 15px;
  transition: all 200ms ease-in-out;
  border: 0.2px solid transparent; /* to prevent the layout shift */
}

.day:hover {
  border: 0.2px solid #227093;
  background: linear-gradient(to top, #34ace0, #f7f1e3);
  cursor: pointer;
}

.temperature {
  color: #227093;
  font-size: 60px;
  line-height: 60px;
  margin-top: 20px;
}

.code-link {
  color: #2c2c54;
  text-decoration: none;
}

.code-link:hover {
  text-decoration: underline;
  font-weight: bold;
  color: #2c2c54;
}

.weather-emoji {
  display: block;
  width: 200px;
}
